body {
  background-color: #F7F9FF;
  min-height: 100vh;
  width: 100%;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation-name: slideInFromLeft;
  animation-duration: 420ms;
  animation-timing-function: cubic-bezier(.2, .9, .2, 1);
}